abm.csv
card.csv
cheque.csv
detected_anomalies.csv
eft.csv
emt.csv
final_dataset.csv
final.csv
hPdeb519b6e9c36e6.jpg
hPdeb519b6e9c36e62.jpg
isolation_forest_feature_engineering.ipynb
isolation_forest_results.csv
westernunion.csv
kyc_individual.csv
kyc_industry_codes.csv
kyc_occupation_codes.csv
kyc_smallbusiness.csv
labels.csv
model_summary.csv
westernunion.csv
brain.jpeg
wire.csv
red.jpeg
Untitled-2.ipynb
Untitled-1.ipynb
/IMDB

